.products{
    width: 100%;
   display: flex; 
   flex-wrap: wrap;
gap: 30px;
justify-content: center;
align-items: center;
}
.product{
    padding: 5px;
    width: 25%;
    height: 450px;
    border: 1px solid gray;
    border-radius: 5px;
gap: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
img{
    width: 100%;
    height: 200px;
}
.btn{
    padding: 10px;
   
    border-radius: 5px;
}
.firstDiv{
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}